
div {
  width:100%;
  /*border: 3px solid #73AD21;*/
  /*display: flex;*/
}

#inner {
    margin: auto;
    width: 600px;
}

table {
  border-collapse: collapse;
  border: 10px solid black;
  background-size: 100%;
  
  background-image:    url(sudoku-leer.svg) no-repeat;
  background-size: 100% 100%;
  
  width:600px;

}

td {
  border: 3px solid black;
  padding: 2px;
  spacing: 2px;
  margin: 40px;
}

button, input {
 border: 0px solid white;
  text-align:center;
  margin: 2px;
  width:50;
  height:50;
  font-size:30;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

button {
  width:600px;
}

input {
  background: transparent;
  font-weight:bold;
}

/*table, input {
  background-color: lightcyan;
}*/
