
div {
  width:100%;
}

#inner {
    margin: auto;
    width: 600px;
}

table {
  border-collapse: collapse;
  border: 10px solid black;
  background-size: 100%;
  
  background-image:    url(sudoku-leer.svg) no-repeat;
  background-size: 102% 102%;
  
  width:600px;

}

td {
  border: 3px solid black;
  padding: 2px;
  spacing: 2px;
  margin: 40px;
}

button.controls, input {
  border: 0px solid white;
  text-align: center;
  margin: 2px;
  width: 50;
  height: 50;
  font-size: 30;
}

button.controls {
  width:600px;
}

button.language {
  float:right;
}

input {
  background: transparent;
  font-weight: bold;
}

div.fr {
  float:right;
}

canvas {
  border: 1px solid #9C9898;
}

span {
  font-size: 3em;
}
