
div {
  width:100%;
  /*border: 3px solid #73AD21;*/
  /*display: flex;*/
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 10px solid black;
}

td {
  border: 3px solid black;
  padding: 2px;
  spacing: 2px;
  margin: 40px;
}

button, input {
  border: 0px solid white;
  text-align:center;
  margin: 2px;
  width:50;
  height:50;
  font-size:30;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

table, input {
  background-color: red;
  
  }
